<div class="app-content content">
  <div class="content-wrapper">

     <h1><b>Manter Tipo de Item</b></h1>

    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="card-title">
            <div class="row">
              <div class="col-md-12">
                Consultar Tipo de Item
              </div>
            </div>
          </div>

          <ng-container mCardBody>

            <form class="form form-horizontal row-separator" [formGroup]="tipoItemForm">
              <div class="form-body">
                <div class="row">

                  <div class="col-md-4">
                    <label class="label-control" for="tipoItem">Tipo Item:</label>
                    <select id="projectinput5" class="form-control border-primary" formControlName="tipoItem">
                        <option value="Documentos">1 - Documentos</option>
                        <option value="Outros">2 - Outros</option>
                    </select>
                  </div>
    
                  <div class="col-md-8">
                    <label class="label-control" for="descricao">Descrição:</label>
                    <input type="text" class="form-control border-primary" placeholder="Digite a descrição"
                      formControlName="descricao">
                  </div>                                   

                </div>
              </div>

              <div  class="form-actions text-right">
                <button type="button" class="btn btn-warning mr-1" (click)="novo()">
                  <i class="feather ft-plus"></i> Novo
                </button>
                <button type="button" class="btn btn-warning mr-1" (click)="limpar()">
                  <i class="feather ft-refresh-ccw"></i> Limpar
                </button>
                <button type="button" class="btn btn-warning mr-1" (click)="pesquisar()">
                  <i class="feather ft-search"></i> Pesquisar
                </button>
              </div>

            </form>
          </ng-container>

        </div>
      </div>
    </div>

    <div class="row" matchHeight="card">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <section id="configuration">
                <div class="row">
                  <div class="col-12">
                    <ng-container mCardHeaderTitle>
                      <div class="row">
                        <div class="col-xl-4" style="margin-bottom: 20px;">
                        </div>
                      </div>
                    </ng-container>
                    <ng-container mCardBody>
                      <div class="card-dashboard">
                        <div class="table-responsive">

                          <p-table #dt [value]="tipoItemList" selectionMode="single"
                            styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-sm"
                            [paginator]="true" [rows]="rows" 
                             [rowsPerPageOptions]="[10,25,50]">

                            <ng-template pTemplate="header">
                              <tr id="tabelaEndereco">
                                <th style="width: 50px;">Tipo</th>
                                <th style="width: 300px;">Descricao</th>
                                <th style="width: 30px;">Ações</th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-tipoItem>
                              <tr id="tabelaEndereco" [pSelectableRow]="tipoItem">
                                <td>
                                  <span id="tabelaEndereco">
                                    {{tipoItem.tipoItem}}
                                  </span>
                                </td>
                                <td>
                                  <span id="tabelaEndereco">
                                    {{tipoItem.descricao}}
                                  </span> 
                                </td>                                
                                <td><i style="color: #1E90FF;" (click)="editar(tipoItem)"                                 
                                    class="icon-pencil icon-btn-actions" triggers="hover:click:hover"
                                     ngbTooltip="Editar"></i>
                                  <i style="color: 	#B22222; margin-left: 10px;" (click)="openModal(DeleteModalContentTipoItem, tipoItem['id'])"                                          
                                    class="icon-trash icon-btn-actions" triggers="hover:click:hover"
                                    ngbTooltip="Excluir"></i>
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>

                        </div>

                      </div>
                    </ng-container>
                  </div>
                </div>
              </section>

            </div>
          </div>

        </div>
      </div>
    </div>

    <ng-template #DeleteModalContentTipoItem let-c="close" let-d="dismiss">
      <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel1">Excluir Tipo de Item</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <p>Deseja excluir este registro?</p>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn grey btn-outline-secondary" (click)="d('Close modal')"
              ngbAutofocus>Cancelar</button>
          <button type="button" (click)="excluirTipoDeItem()"
              class="btn btn-outline-danger">Sim</button>
      </div>
  </ng-template>

    
  </div>
</div>