﻿<!-- main app container -->
<ngx-loading-bar [includeSpinner]='false' height='3px' color="#FF4961"></ngx-loading-bar>
<ngx-spinner></ngx-spinner>
<app-alert></app-alert>
<router-outlet *ngIf="showContent"></router-outlet>