.emptyClients{
    text-align: center;

}
.emptyClients p{
    text-align: center;
    margin-bottom: 0px;
    font-weight: 100;
}
.emptyClients button{
    margin-top: 20px;
}

.icon-content{
    width: 100px;
    font-size: 100px;
    margin-bottom: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.searchField{
    padding-top: 0px;
    padding-bottom: 0px;
    height: calc(1.25em + 1.1rem + 2px);
}
.btnAddClient{
    position: absolute;
    right: 0;
    margin-right: 15px;
}
.headerContent{
    display: grid;
    grid-column-gap: 33% 50% 17%;
}

.card-dashboard p{
    margin-bottom: 5px;
}
.icon-btn-actions{
    font-size: 20px;
}
.no-margin-bottom{
    margin-bottom: 0px;
}

#tabelaEndereco{
    font-size: 12px;
  }


  @media screen and (max-width: 70rem) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-responsive-demo {
                .p-datatable-thead > tr > th,
                .p-datatable-tfoot > tr > td {
                    display: none !important;
                }

                .p-datatable-tbody > tr > td {
                    text-align: left;
                    display: block;
                    width: 100%;
                    float: left;
                    clear: left;
                    border: 0 none;

                    .p-column-title {
                        padding: .4rem;
                        min-width: 30%;
                        display: inline-block;
                        margin: -.4em 1em -.4em -.4rem;
                        font-weight: bold;
                    }

                    &:last-child {
                        border-bottom: 1px solid var(--surface-d);
                    }
                }
            }
        }
    }
}
