<div class="app-content content">
  <div class="content-wrapper">

    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="card-title">
            <div class="row">
              <div class="col-md-12">
                Incluir/Editar Tipo de Item
              </div>
            </div>
          </div>

          <ng-container mCardBody>

            <form class="form form-horizontal row-separator" [formGroup]="tipoItemForm">
              <div class="form-body">
                <div class="row">

                  <div class="col-md-4">
                    <label class="label-control" for="tipoItem">Tipo Item:</label>
                    <select id="projectinput5" class="form-control border-primary" formControlName="tipoItem">
                        <option value="Documentos">1 - Documentos</option>
                        <option value="Outros">2 - Outros</option>
                    </select>
                  </div>
    
                  <div class="col-md-8">
                    <label class="label-control" for="descricao">Descrição:</label>
                    <input type="text" class="form-control border-primary" placeholder="Digite a descrição"
                      formControlName="descricao">
                  </div>                                   

                </div>
              </div>

              <div  class="form-actions text-right">
                <button type="button" class="btn btn-warning mr-1" (click)="cancelar()">
                  <i class="feather ft-x"></i> Cancelar
                </button>
                <button type="button" class="btn btn-warning mr-1" (click)="limpar()">
                  <i class="feather ft-refresh-ccw"></i> Limpar
                </button>
                <button type="button" class="btn btn-warning mr-1" (click)="salvar()">
                  <i class="feather ft-check"></i> Salvar
                </button>
              </div>

            </form>
          </ng-container>

        </div>
      </div>
    </div>


    
  </div>
</div>