.margin-left-5{
    margin-left: 5px;
}
.form-register{
    width: 100%;
    margin-bottom: 10px;
}
.btn-register{
    display: flex;
    margin-left: auto;
}
.no-margin-bottom{
    margin-bottom: 0px;
}

.wrongPasswordConfirm{
    border-color: red;
}
.correctPasswordConfirm{
    border-color: 		#00FF00;
}